select {
  padding: 4px;
  // width: 100%;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  border: none;
  box-shadow: 0 0 4px 1px lightgray;
  margin: 9px 5px 9px 0;

  &:focus {
    outline: none;
    box-shadow: 0 0 6px 1px lightgray;
  }
}
