// .checkbox {
//   margin-top: -3px;
//   vertical-align: middle;
//   height: 15px;
//   width: 15px;
//   margin-left: 10px;
// }
.checkbox {
  display: block;
}

.btn-bwm {
  padding: 8px 20px;
}
